<div class="header">
    <h2>{{ key }}</h2>
    <button mat-icon-button color="accent" (click)="$delete.next(key)"><mat-icon>delete</mat-icon></button>
</div>
<div class="translations">
    @for (locale of $locales | async; track locale) {
        <th>
            <mat-form-field>
                <mat-label>
                    <div style="display: flex;justify-content: center;width: 100%;">
                        <img class="locale" height="25px" width="25px" src="/assets/flags/{{ locale }}.svg" [alt]="locale">
                    </div>
                </mat-label>
                <input [class.not-present]="!translation[locale]" matInput [value]="translation[locale]" type="text">
            </mat-form-field>
        </th>
    }
</div>