:host {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    border: solid 1px lightgray;

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        h2 {
            flex-grow: 1;
            margin: 0;
        }
        button {
            justify-self: right;
        }
    }

    .translations {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        row-gap: 10px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .not-present {
        background-color: rgba(255, 0, 0, .1);
    }
}
