<h1 mat-dialog-title>Ajouter une nouvelle clé de traduction</h1>
<form [formGroup]="formGroup" (submit)="submit()">
    <mat-form-field appearance="outline">
        <mat-label>Nom clé de traduction</mat-label>
        <input matInput id="keyName" formControlName="keyName" type="text">
    </mat-form-field>

    <div class="actions">
        <button mat-button color="primary" type="submit">Save</button>
        <button type="reset" mat-button color="accent" mat-dialog-close>Cancel</button>
    </div>
</form>
