<h1>Ajouter Projet</h1>
<form [formGroup]="formGroup" (submit)="submit()">
    <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name" type="text">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Dossier</mat-label>
        <input matInput formControlName="path" readonly type="text">
    </mat-form-field>

    <div class="actions">
        <button type="button" mat-raised-button mat-dialog-close>Annuler</button>
        <button mat-raised-button type="submit">Ajouter projet</button>
    </div>
</form>
