:host {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    form {
        flex-grow: 1;
        min-height: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .actions {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}
