:host {
    flex-shrink: 1;
    min-width: 0;
    display: flex;
    margin: 10px 20px;

    .project {
        user-select: none;
        cursor: pointer;
        flex-grow: 1;
        min-height: 0;
        display: flex;
        border: solid 1px grey;
        border-radius: 10px;

        .content {
            flex-grow: 1;
            min-width: 0;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);

            &:hover {
                background-color: grey;
                .header {
                    .name {
                        color: white;
                    }
                }

                .path {
                    color: ghostwhite;
                }
            }

            .header {
                display: flex;
                justify-content: space-evenly;

                .locales {
                    display: flex;
                    justify-content: space-evenly;
                    gap: 20px;
                }
            }

            .path {
                color: grey;
                text-align: center;
            }
        }

        .remove {
            width: 5%;
            height: 100%;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border: solid black 1px;
            border-right: none;
            border-top: none;
            border-bottom: none;
            align-self: center;
            justify-self: right;
            background-color: lightgrey;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: orangered;
                color: white;
            }
        }
    }
}
