<div class="project" (click)="goToProject$.emit(project)">
    <div class="content">
        <div class="header">
            <span class="name">{{ project.name }}</span>
            <div class="locales">
                @for (locale of project.locales; track locale) {
                    <div>
                        <img src="/assets/flags/{{locale}}.svg" [alt]="locale">
                    </div>
                }
            </div>
        </div>
        <span class="path">{{ project.path }}</span>
    </div>
    <div class="remove" (click)="deleteProject($event)">
        <mat-icon>remove</mat-icon>
    </div>
</div>
