<div class="actions">
    <button mat-icon-button color="primary" (click)="createProject()"><mat-icon>add</mat-icon></button>
    <input class="search" [formControl]="control" type="text">
</div>

<div class="projects">
    @for (project of projects$ | async; track project.id) {
        <app-project-detail [project]="project" (goToProject$)="goToProject($event)" (deleteProject$)="deleteProject($event)"></app-project-detail>
    }
</div>
