:host {
  display: flex;
  flex-direction: column;
  gap: 50px;

  .actions {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin: 0 20px;

    .search {
      flex-grow: 1;
      min-width: 0;
      text-align: center;
    }
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    min-height: 0;
  }
}
