:host {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;

    .logo.angular:hover {
        filter: drop-shadow(0 0 2em #e32727);
    }

    .locales {
        display: flex;
        justify-content: center;
        gap: 30px;
        width: 100%;
    }

    form {
        display: flex;
        flex-direction: row;
        gap: 50px;
        row-gap: 25px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-grow: 1;
        overflow-y: auto;
        min-height: 0;

        .cdk-viewport {
            min-height: 0;
            width: 100%;
            flex-grow: 1;
        }
    }

    .actions {
        display: flex;
        justify-content: space-evenly;
    }
}

