<div class="container">
    <h1>{{ (project$ | async)?.name }}</h1>
    <button mat-icon-button routerLink="/"><mat-icon>close</mat-icon></button>
    <div class="locales">
        @for (locale of $locales | async; track locale) {
            <div>
                <img class="locale" height="50px" width="50px" src="/assets/flags/{{ locale }}.svg" [alt]="locale">
            </div>
        }
    </div>
    @if (($locales | async)?.length ?? 0 > 0) {
        <input [formControl]="searchControl">
        <mat-checkbox [formControl]="hideGoodTranslationsControl">Afficher traductions incomplètes</mat-checkbox>
    }

    <div class="actions">
        @if (path) {
            <button mat-icon-button (click)="refreshAll(path)"><mat-icon>refresh</mat-icon></button>
        }

        @if (($locales | async)?.length ?? 0 > 0) {
            <button mat-icon-button (click)="createKey()"><mat-icon>add</mat-icon></button>
        }
    </div>

    <form>
        <cdk-virtual-scroll-viewport class="cdk-viewport" *ngIf="$working | async; let working" itemSize="25">
            <app-translation-detail *cdkVirtualFor="let entry of working | keyvalue" [key]="entry.key" [translation]="entry.value" [$locales]="$locales" ($delete)="deleteKey($event)"></app-translation-detail>
        </cdk-virtual-scroll-viewport>
    </form>
</div>
